.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center; /* ?? */
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho_menu-hamburguer {
    background: url(/assents/menu.svg) no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.container_imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista_menu {
    display: block;
}

.lista_menu-titulo, .lista_menu-item {
    padding: 1em;
    background-color: var(--white);
}

.lista_menu-titulo {
    color: var(--orange-color);
    font-weight: 700;
}

.lista_menu-link {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}