.topicos {
    background: var(--blue-gradient);
    padding: 2em 0;
}

.topicos_titulo {
    text-align: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em ;
    justify-content: center;
}

.topicos_item{
    margin: 2em 0.5em;;
}

.topicos_link {
    background-color: var(--orange-color);
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
}